<h1>Welcome to blogspot</h1>
<%= link_to "Add/edit a content" , posts_path %>

<script>
  var x=0;
  <% @posts.each do %>
    x++;
  <% end %>
  document.write(x);
</script>



<h1>Welcome to blogspot</h1>

<script>
  var x=0;
  <% @posts.each do %>
    x++;
  <% end %>
  document.write(x);
</script>
